body {
  background-color: yellow;
  font-family: arial;
}

h1 {
  font-size: 60px;
}


/*body {
  font-size: 20px;
}


.wrapper {
  background-color: yellow;
}

.entries {
  background-color: seagreen;
}

.entry {
  padding: 50px;
}

a {
  color: blue;
  font-size: 80px;
}

.entry a {
  font-family: arial;
  color: yellow;
}*/