body {
	background-color: yellow;
}

a {
	font-size: 100px;
	color: black;
	text-decoration: none;
	border-bottom: 5px solid;
}

a:hover {
	color: magenta;
	border-bottom: 20px dashed;
}

/*a:active {
	color: white;
}

a:visited {
	color: green;
}*/